body{
	font-family: Garamond;
	background-color: #e8fbbe;
	background-image: url(daisy.jpg);
	background-size: cover;
	background-repeat:none;
	background-attachment: fixed;
}

h1{
	font-family: Bold;
	color: #5f7c1f;
	text-align: center;
	background-color: #c5ea9b;
}

h3{
	font-family: Bold;
	line-height: 1.5em;
	color: #5f7c1f;
	background-color: #c5ea9b;
	text-align: center;
}

p{
	line-height: 1.5em;
	text-indent: 40px;
}

div{
	width:700px;
	margin-left:auto;
	margin-right:auto;
	padding: 30px;
	background-color: #f4fbe6;
	border: 10px solid #758962;
}

img{
	border: 5px solid #758962;
	border-radius: 30px;
}

a:link, a:visited{
	color: green;
text-align: center;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
